body{
    background-color: black;
}


.CardTable{    
    background-image: url('../images/background.jpg');
    padding:16px;
    border-radius: 10px;
    width:90%;
    margin:5%;
    align-self:center;
    diplay:inline-block;
    }

.CardsBank{}

.CardsPlayer{}

.active{
    display:inline-block;
    width:40%;
    margin:3%;
    background-image: url('../images/backgroundpassive.jpg');
    padding:16px;
    border-radius: 10px;
    border: 2px solid gold;
}

.splitscreen{
    display:inline-block;
    width:40%;
    border-radius: 10px;
    margin:3%;
    background-image: url('../images/backgroundactive.jpg');
    padding:16px;
    border: 2px solid gold;
}

.splitscreenboss{
    display:block;
    border-radius: 10px;
    margin:3%;
    background-image: url('../images/backgroundactive.jpg');
    padding:16px;
    border: 2px solid gold;
}

.winner{
    display:block;
    border-radius: 10px;
    margin:3%;
    background-color:gold;
    padding:16px;
    border: 2px solid gold;
}

.CardImg{
    height:145px;
    width:100px;
    margin:8px;
    padding:8px;
}

.TexT{
    color:white;
    font-size:20pt;
    font-weight:bold;
}